/* reset */
h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* end of reset  */

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


header {
    display: flex;
    width: auto;
    padding: 10px 20px 10px 20px;
    --header-height: 70px;
    height: var(--header-height);
    background-color: chocolate;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px groove black;
    border-style: groove;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}


img {
  height: calc(var(--header-height) - 20px);
  width: 50px;
}

.middle-header  {
    justify-self: center;
    font-size: large;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium';
}

.right-header {
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 0;
}

.right-header li a {
  color: black;
  font-style: normal;
  font-variant: normal;
  text-decoration: none;
}

footer {
    height: 50px;
    background-color: black;
}

.mainbody {
    background-image: url("./images/abhi-verma-Y5CfLR8sqzE-unsplash.jpg");
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    display: flex;
    flex-direction: column;
}

.sign-up-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.4);
    margin: 50px auto;
    width: 50vw;
    height: 75vh;
}


.sign-up-form h1 {
    text-align: center;
    padding: 10px;
}

form {
    text-align: center;
    
}

form input {
    height: 24px;
    width: 180px;
    padding: 0;
}

form label {
    display: flex;
    align-items: center;
    font-size: small;
    font-weight: bolder;
}

.name , .user-data {
    display: flex;
    gap: 10px;

}






