.main-container {
    display: flex;
    margin-top: 25px;
    flex-direction: column;
}

.display {
    display: flex;
    justify-content: center;
    align-content: center;
}

.left-sub {
    border: 1px solid black;
    height: 560px;
    width: 25px;
}

.center-sub {
    border: 1px solid black;
    height: 560px;
    width: 25px;
}

.right-sub {
    border: 1px solid black;
    height: 560px;
    width: 25px;
}

.row {
    display: flex;
    gap: 0px;
    margin: 0%;
    padding: 0%;
}

.square {
    width: 30px;
    height: 30px;
    background-color: white;
    border: 1px solid;
    border-color: red;
    padding: 0%;
    margin: 0%;
}