.main-container {
    display: flex;
    margin-top: 25px;
    flex-direction: column;
}

.display {
    display: flex;
    justify-content: center;
    align-content: center;
}

.left-sub {
    border: 1px solid black;
    height: 560px;

}

.center-sub {
    border: 1px solid black;
    height: 560px;
}

.right-sub {
    border: 1px solid black;
    height: 560px;
}

.row {
    display: flex;
    gap: 5px;
    margin: 5px;
    padding: 0%;
}

.square {
    background-color: lightblue;
    border: 1px solid;

    padding: 0%;
    margin: 0%;
}

.input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}