.main-container {
    display: flex;
    margin-top: 25px;
    flex-direction: column;
}

.display-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-sub {
    border: 1px solid black;
    height: 560px;

}

.center-sub {
    border: 1px solid black;
    padding: 0%;
    margin: 0%;
    gap: 0px;
}

.right-sub {
    border: 1px solid black;
    padding: 0%;
    margin: 0%;
    gap: 0px;
}

.row {
    display: flex;
    gap: 5px;
    margin: 5px;
    padding: 0%;
}

.square {
    background-color: lightblue;
    border: 1px solid;

    padding: 0%;
    margin: 0%;
}

.input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

#display {
    margin: 1px;
    background-color: lightgray;
    text-align: center;
}