:root {
    font-family: 'Times New Roman', Times, serif;
}

p {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: lightcoral;
    border-bottom: 2px solid gray;
}

.title {
    font-size: 25px;
    font-weight: bolder;
}

nav {
    height: 25px;
    background-color: lightpink;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    flex-direction: row;
    row-gap: 5px;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px black;
}

.add  {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.add button {
    height: 25px;
    width: 25px;
    padding: 0;
    border-radius: 999999px;
    font-weight: bolder;
    cursor: grab;
}

.add button:hover {
    background-color: palevioletred;
    color: white;

}

.high {
    color: #D10000 ;
    border-color: #D10000;
    border-style: double;
    border-radius: 999999px;
    background-color: lightpink;
}

.medium {
    color: #FDFD96;
    border-color: #FDFD96;
    border-style: double;
    border-radius: 99999999px;
    background-color: lightpink;
}

.low {
    color: green;
    border-color: green;
    border-style: double;
    border-radius: 999999px;
    background-color: lightpink ;
}

.high:hover {
    background-color: red;
    color: white;
}

.medium:hover {
    background-color: #FFD700;
    border-color: #FFD700;
    color: white;
}

.low:hover {
    background-color: green;
    color: white;
}

.main-content {
    padding: 0;
    background-color: lightpink;
    border: solid 1px black;
    border-top: 0px;
    background-image: url("./rss/scribbles.png");
    background-blend-mode: lighten; 
    display: grid;
    grid-template-columns: 5% 75% 20%;
    grid-template-areas:"border todo search";
}

.border {
    background-color: lightcoral;
}

.search {
    background-color: lightcoral;
}


footer {
    border-top: 4px solid salmon;
    background-color: black;
}