.logo > img {  
    height: 50px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-right: 10px;
}


