#container {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.square {
    width: 25px;
    height: 25px;
    border: 1px solid #ccc;
    background-color: lightgray;
}
