  #container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 960px;
    height: 960px;
  }

  .row {
    display: flex;
    gap: 0px;
    margin: 0%;
    padding: 0%;
  }

  .square {
    width: 30px;
    height: 30px;
    background-color: white;
    border: 1px solid;
    border-color: red;
    padding: 0%;
    margin: 0%;
}

.reset-btn{
    background-color: aquamarine;
}
.reset-btn:hover{
    background-color: lightsalmon;
}