.Roboto-font{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

* {
    font-family: "Roboto";
}

/* header section */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
}

.header img{
    margin-left: 100px;
    text-decoration: none;
    font-weight: 700;
    font-size: xx-large;
}

.header_links{
    display: flex;
    list-style: none;
    gap: 20px;
    margin-right: 100px;
}

.header a {
    text-decoration: none;
    color: #F9FAF8;

}

/* hero section */

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 50px 100px;
}

.hero-text {
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    flex-direction: column;
    margin-left: 110px;
    color: #F9FAF8;
    max-width:500px;
}

.maintext{
    font-weight: 900;
    font-size: 48px;
    margin-bottom: 5px;
}

.subtext {
    padding-top: 0;
    margin-top: 0;
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 20px;
    
}
.hero-button{
    background-color: #3B82F6;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    align-self: flex-start;
}

.hero-img{
    flex: 0 1 auto;
    width: 500px;
    height: 150px;
    background-color: hsl(0, 0%, 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F9FAF8;
    font-size: 24px;
} 


.button:hover {
    background-color: #2563EB;
}

/* main body */

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 50px;
        }

.image-box-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5px;
        }

.image-box {
        width: 200px;
        height: 200px;
        border: 2px solid blue;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        }

.image-box img {
    max-width: 100%;
    max-height: 150px;
        }
.caption {
    margin-top: 10px;
    font-size: 14px;
    width: 200px;
    justify-content: flex-start;
        }

.quote{
    display: flex;
    background-color: #E5E7EB;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    max-width: 100%;
}   

.quote-text {
    max-width: 800px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin-bottom: 0;
    text-align: left;
}

.quote-by{
    margin-top: 0;
    font-weight: bold;
    text-align: right;
    width: 100%;
    max-width: 750px;
}

.cta-container {
    display: flex;
    flex-direction: row;
    margin: 150px;
    background-color: #3b82f6;
    color: white;
    padding: 50px;
    border-radius: 5px;
    justify-content: space-between;
    border-radius: 10px;
}

.cta-text {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
    margin-bottom: 0;
}

.cta-subtext {
    margin-top: 0;
}

.cta-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    padding: 30px 10px 30px 10px;
    width: 150px;
    height: 30px;
    background-color: #3b82f6;
    outline: white;
    outline-width: 2px;
    outline-style: solid;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.cta-text-container{
    display: flex;
    flex-direction: column;

}

/* footer */
